@using KH_Capstone.Models
@model EnemyPO
@{
    ViewBag.Title = "ViewEnemy";
}
<table class="table">
    <thead>
        <th><h2><b>@Model.Name</b></h2></th>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">
                Image
            </td>
            <td>
                @Model.Location
            </td>
        </tr>
        <tr>
            <td>
                @Model.Description
            </td>
        </tr>
    </tbody>
</table>
