@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <img src="~/Images/Home/maxresdefault.png" class="col-xs-12"/>
    </div>

    <div style="text-align:center;">
        <div id="About" class="col-md-6 col-md-push-3">
            <h3>About</h3>
            <p>Kingdom Hearts was originaly released in 2002. It was published and developed by Square-Enix.</p>
        </div>
    </div>




    <div style="margin-top:50px;">
        <br />
    </div>

</div>